	*{
 font-family: 'Montserrat', sans-serif;
}

/*START BOX*/
#start{
	background-image:url(fondos/33.gif); 
	background-size: 100%;
	width: 100%;
	height: 100%;
	padding: 50px 0px;
	display: flex;
	justify-content: center;
}
#boxWhite{
	width: 720px ; 
	height: 500px ;
	border-radius: 15px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
}
#timer{
	text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-weight: 200;
    color : green;
    font-size: 14px	;
}
#start h1{
	text-align: left;
	font-size: 30px;
	margin: 60px 110px 0px 110px;
	font-weight: 200;
	line-height: 1.2;
	font-family: 'Press Start 2P', cursive;
}
#name{
	margin: 60px 300px 0px 110px;
    font-family: 'Press Start 2P', cursive;
	border-bottom: 2px solid #F1EDED;
	padding-bottom: 5px;
}
#infoBox{
display: flex;
flex-direction: row;
 margin-left: 30px ;
 margin-top: 20px;
}
#info{
   background-color: white;
   text-align: justify;
   display: inline-block;
}
#infoText{
   margin-top: 5px	;
   font-size: 12px;
   font-weight: bold;
}

#buttonStart{
		background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
		padding: 15px 40px;
		border-radius:10px ;
		margin: 100px 275px 0px 275px;
		font-weight: 200;
		color: #fff;
		font-family: 'Press Start 2P', cursive;
		-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	  animation: rainbow 18s ease infinite;
	}
	
	@-webkit-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-moz-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-o-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@keyframes rainbow { 
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}

/*PREGUNTA BOX*/

#preguntas{
    background-image:url(1.gif); 
	background-repeat: repeat;
	background-size: 30%;
	/*background-size: 100%;*/
	width: 100%;
	height: 100%;
	padding: 50px 0px;
	display: flex;
	justify-content: center;
}
#buttonCheck{
	background-color: #A96ECD;
	padding: 15px 0px;
	border-radius:10px ;
	margin: 20px 275px 20px 275px;
    font-weight: 200;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
    }
#preguntas h3{
    text-align: center;
	font-size: 24px;
	margin: 30px 110px 0px 110px;
	font-weight: 600;
}
.inputs{
	margin-left: 40px;
	margin-right: 40px;
	background-color: #F1EDED;
	padding-bottom: 10px;

}

#inp1, #inp2, #inp3, #inp4{
	margin-top: 10px;
}
#contadores{
display:flex;
flex-direction: row;
justify-content: space-around;
margin-top: 20px;
margin-bottom: 20px	;
font-weight: 600;
}
#contadores img {
	margin-right: 10px;
}
#numeroPregunta{
width: 160px;
height: 40px;
background-color: #F1EDED;
display: flex;
flex-direction: row;
justify-content: center;
align-items:center ;
}
#nivelPregunta{
width: 160px;
height: 40px;
background-color: #F1EDED;
display: flex;
flex-direction: row;
justify-content: center;

align-items:center ;
}
#scorePoints{
width: 160px;
height: 40px;
background-color: #F1EDED;
display: flex;
flex-direction: row;
justify-content: center;

align-items:center ;
}

/*checkingTrue BOX*/

#checkingTrue{
background-color: #5BB730;
width: 100%;
height: 100%;
padding: 50px 0px;
display: flex;
justify-content: center;
text-align: center;

}
#checkingTrue img {
    padding-top:70px;
}
#checkingTrue h2 {
    font-size: 24px;
    font-weight: 600;
}
#buttonNext{
	background-color: #A96ECD;
	padding: 15px 50px;
	border-radius:10px ;
	margin: 80px 275px 0px 275px;
    font-weight: 200;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
    }
/*checkingFalse BOX*/

#checkingFalse{
background-color: #E4180D;
width: 100%;
height: 100%;
padding: 50px 0px;
display: flex;
justify-content: center;
text-align: center;

}
#checkingFalse h2 {
    font-size: 24px;
    font-weight: 600;
}

#checkingFalse img{
	padding-top: 70px;
}

/*checkingJosu BOX*/

#checkingJosu{
background-image: url(josu/USt.gif);
background-size: 30%;
width: 100%;
height: 100%;
padding: 50px 0px;
display: flex;
justify-content: center;
text-align: center;

}
#checkingJosu img{
	padding-top:50px;
}


/*end Win*/ 

#endWin{
background-color: #47225E;
width: 100%;
height: 100%;
padding: 50px 0px;
display: block;
justify-content: center;
text-align: center;
}
#buttonRestart{
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
		padding: 15px 0px;
		border-radius:10px ;
		margin: 100px 275px 0px 275px;
		font-weight: 200;
		color: #fff;
		font-family: 'Press Start 2P', cursive;
		-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	  animation: rainbow 18s ease infinite;
	}
	
	@-webkit-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-moz-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-o-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@keyframes rainbow { 
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
}
#endWin img{
	padding-top: 70px;
}
#endWin h2 {
    font-size: 24px;
    font-weight: 600;

}
#endWin h3{
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-top: 30px;
}

#success img {
	padding-top: 10px;
}

/*FOOTER*/

footer{
	text-align: center;
	background-color: #000;
	margin: 10px;
}
footer p{
	font-family: 'Press Start 2P', cursive;
	color: #fff;
    font-weight: 200;
    padding: 5px;
   }
   
#timer{
	   text-align: center;
	  /* background-color: red;*/
	   font-family: 'Press Start 2P'
   }
